# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/.*
docs/
.Rproj.user
tests/testthat/*.pdf
.DS_Store

# compiled files
src/*.o
src/*.so
src/*.dll
inst/doc
*_cache/
